[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "demo"]
	path = demo
	url = https://github.com/Atlinx/netfox
	branch = netfox-boost
